node_modules/
dist/
dbase/

src/lib/atlas/Configs/Config.ts

sqlite3
sqldiff

*.wasm

# Logs
# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

*server.sqlite
src/TEMPS3CONFIG.ts
runtime/obj/
runtime/bin/
*/image-proxy*
build/
