.searchBox> .manaInputBox:first-child svg {
    color: var(--interactive-text-default)
}

.searchBox > .manaInputBox {
    padding-inline: var(--padding-xs) var(--padding-sm);
    height: 24px;
    border-radius: var(--radius-xs);
    
}

.searchBox {
    cursor: text;
    width: 100%;
}

.searchBox > .manaInputBox > .textContainer {
    color: var(--interact-normal)
}
