.channelBar {
    padding-right: var(--padding-m);
    gap: var(--padding-xs);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-inline: var(--padding-m);
    margin-top: var(--padding-sm);
}