.sidePanelSizing {
    width: 400px;
}
.sidePanelHeader {
    background: var(--theme-lower);
    height: 100%;
    margin-right: calc(var(--padding-m) * -1);
}
.chatHeader {
    margin-right: auto;
    
}
.chatPanel {
    flex: 1 1 auto;
    margin-top: 10px;
    padding-left: var(--padding-m);
    padding-right: var(--padding-m)
}

#test {
    /*background:  red;*/
    width: 500px;
}
#debugoutput {
    height: 150px;
}

.chatInputContainer {
    margin-bottom: var(--padding-m);
}

.chatScrollContainer {
    position: relative;
}
.chatScrollInner {
    position: absolute;
    
}