:root {
    --modal-width-maximum: 50%;
    --modal-height-maximum: 90%;
}
.modalPopoverBase {
  position: relative;
    /*top: 50%;*/
    /*left:50%;*/
    /*max-height: var(--modal-height-maximum);*/
    /*max-width: var(--modal-width-maximum);*/
}




.modalBackground {
    border-radius: var(--padding-m);
    background: var(--theme-high);
    border: solid 1px var(--border-subtle);
    
}
.guildCreateModal {
    height: 100%;
    width: 100%; 
}

.modalContainer {
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.modalPopoverBase[data-modal-style="modal"] {
  border-radius: var(--padding-m);
  background: var(--theme-high);
  border: solid 1px var(--border-subtle);
  
}

.modalContainerInner {
  width: 100vw;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  display: flex;
}