.cursorInteractWrapper {
    cursor: pointer;
}
.buttonBase {
    padding-inline: var(--padding-m);
    padding-block: var(--padding-m);
    border-radius: var(--padding-sm);
    font-size: var(--font-m);
    border: solid 1px var(--border-normal);

    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    user-select: none;
}
.buttonBase > div {
    width: 100%;
    height: 100%;
}

.button-primary:hover {
    background: var(--button-primary-hover);
}
.button-secondary:hover {
    background: var(--button-secondary-hover);
}
.button-tertiary:hover {
    background: var(--button-tertiary-hover);
}
.button-primary {
    background: var(--button-primary);
}

.button-secondary {
    background: var(--button-secondary);
}

.button-tertiary {
    background: var(--button-tertiary);
}

