.inputBoxWrapper {
    background: var(--theme-higher);
    border: solid 1px var(--border-subtle);
    padding: var(--padding-sm);
    border-radius: var(--padding-sm);
    height: 40px;
    position: relative;
    
}
.inputInnerContainer {
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--padding-m);
}

.inputBoxContent {
    cursor: text;
    flex: 1;
    font-size: var(--font-m);
    outline: none;
}

.separator {
    height: 100%;
    width: 1px;
    border-radius: var(--padding-sm);
    background: var(--border-subtle);
}