.pileItemWrapper {
    /*contain: paint;*/
    /*border-radius: var(--radius-round);*/
    img {
        aspect-ratio: 1/1;
    }
}
.pileItemWrapper:not(:first-child) {
    margin-left: -10px;
}
.pileItemWrapper:not(:last-child) {
 
}
.pileAvatarContainer foreignObject {
    width: inherit;
    height: inherit;
    border-radius: var(--radius-round);
}
