:root {
  --viewport-padding: calc(var(--padding-xxl) + var(--padding-lg));
  --settings-header-height: 49px;
  --settings-control-min-height: 40px;
}

.settingsModal {
  height: calc(100% - (var(--viewport-padding)) * 2);
  width: calc(100% - (var(--viewport-padding)) * 2);
  max-width: 1400px;
  overflow: hidden;
  box-sizing: border-box;
  background: var(--theme-chat) !important;
  border-radius: var(--radius-md) !important;
  contain: strict;
}
.settingsContainer {
  display: flex;
  flex-direction: row;
}
.settingsFlexColumn {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}
.settingsItems {
  --width: 250px;
  width: var(--width);
  flex: 0 0 var(--width);
  background: var(--theme-low);
}
.menuPanel {
  width: 100%;
  flex: 0 1 auto;
  background: var(--theme-chat);
}
.settingsItems > .scrollbarHeader {
  flex: 1 0 auto;
  height: var(--settings-header-height);
  border-bottom: 1px solid var(--border-normal);
}
.menuHeader {
  height: var(--settings-header-height);
  /*padding-block: var(--padding-sm);*/
  padding-inline: var(--padding-md) var(--padding-sm) !important;
  border-bottom: 1px solid var(--border-subtle);
  flex: 0 0 auto;
}
.settingsCategoryTitle {
  font-size: var(--font-md);
  /*font-weight: 500;;*/
}
.settingsContent {
  height: 100%;
  /*padding-block: 10px;*/
}

.settingsContent header {
  color: var(--text-primary);
  font-size: var(--font-lg);
  font-weight: 400;
}
.settingsContent div {
  color: var(--text-primary);
  font-size: var(--font-md);
  font-weight: 400;
}

.settingsControl > div {
  min-height: var(--settings-control-min-height);
}

.controlContainer {
  /*align-items: center;
  padding-block: var(--padding-sm);*/
  button[mana-type="button"] {
    width: 100px;
  }
}
.labelSpread {
  width: 100%;
  :first-child {
    margin-right: auto;
  }
}

.container_settings {
  padding: 10px 20px;
  margin: -10px -20px;
}
.panel_settings {
  margin-block: var(--padding-xxl) var(--padding-xxl);
  margin-inline: auto;
  min-width: 300px;
  max-width: 696px;
  width: 100%;
  padding: 0 var(--padding-sm);
  
}
.categoryContents_settings {
  line-height: 1.25;
}